<h2 class="dialog-title">{{ editCategory ? 'Edit' : 'Add New' }} Category</h2>
<form (ngSubmit)="submitForm()" #catForm="ngForm" class="dialog-form">
  <div class="form-group">
    <label for="name" class="form-label text-dark">Category Name</label>
    <input
      type="text"
      id="name"
      name="name"
      [(ngModel)]="categoryName"
      (ngModelChange)="genarateUrlHandle()"
      class="form-control"
      placeholder="Enter category name"
      required
      #nameInput="ngModel"
    />
    <div *ngIf="nameInput.invalid && nameInput.touched" class="error-message">
      Category Name is required.
    </div>
  </div>

  <div class="form-group">
    <label for="urlHandle" class="form-label text-dark">Url-Handle</label>
    <input
      type="text"
      id="urlHandle"
      name="urlHandle"
      [(ngModel)]="categoryUrlHandle"
      class="form-control"
      placeholder="Enter category urlHandle"
      required
      readonly
      #urlHandleInput="ngModel"
    />
    <div *ngIf="urlHandleInput.invalid && urlHandleInput.touched" class="error-message">
      URL Handle is required.
    </div>
  </div>

  <div class="form-group">
    <label for="imageFile" class="form-label text-dark">Upload Image: </label>
    <input
      type="file"
      id="imageFile"
      (change)="onFileSelected($event)"
      class="form-control"
      required
      [class.invalid-input]="fileTouched && !selectedFile"
      (blur)="fileTouched = true"
    />
    <div class="error-message" *ngIf="fileTouched && !selectedFile">
      Image is required.
    </div>
  </div>

  <img
    *ngIf="imagePreview"
    [src]="imagePreview"
    alt="Image Preview"
    style="max-width: 100px; margin-top: 10px"
  />

  <div class="dialog-actions">
    <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary" [disabled]="!catForm.valid || (!selectedFile && !editCategory)">
      {{ editCategory ? 'Update' : 'Create' }}
    </button>
  </div>
</form>
