.projects_explore {
  padding-top: 6rem;
  padding-bottom: 2.5rem;
  background-color: var(--muted);
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
  margin-bottom: 2.5rem;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    padding: 0.5rem;
  }
}

@media (min-width: 1280px) {
  .grid {
    padding: 0;
  }
}

.explore_item {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .explore_item {
    height: 400px;
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .explore_item {
    height: 500px;
  }
}

.explore_item a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center center;
  transition: transform 700ms ease-in-out, filter 700ms ease-in-out;
  filter: brightness(0.5);
}

.explore_item:hover a img {
  transform: scale(1.1);
}

.explore_item_text {
  position: absolute;
  top: 7rem;
  left: 5rem;
  height: 13rem;
  overflow: hidden;
}

@media (min-width: 640px) {
  .explore_item_text {
    left: 13rem;
  }
}

@media (min-width: 768px) {
  .explore_item_text {
    top: 9rem;
    left: 3.5rem;
  }
}

@media (min-width: 1024px) {
  .explore_item_text {
    top: 13rem;
    left: 2.25rem;
  }
}

@media (min-width: 1280px) {
  .explore_item_text {
    left: 5rem;
  }
}

.explore_item_text a {
  font-family: var(--heading);
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #f8fafc;
}

.explore_item_text p:first-child {
  font-size: 1.875rem;
  margin-bottom: 1.25rem;
}

.explore_item_text p:nth-child(2) {
  font-size: 1.125rem;
  text-align: center;
  transform: translateY(11rem);
  transform-origin: bottom center;
  transition: transform 700ms ease-in-out;
}

.explore_item:hover .explore_item_text p:nth-child(2) {
  transform: translateY(0);
}

.adds {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 33.333333%;
  height: 5rem;
  padding: 0.75rem;
  background-color: #3b82f6;
  ring: 2px solid #3b82f6;
  ring-offset: 2px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 9999px;
  box-shadow: var(--shadow);
}

.adds .px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.adds .px-4 i {
  font-size: 1.875rem;
  color: #f8fafc;
}

.adds .px-4 span {
  font-size: 1.5rem;
  font-weight: 600;
  color: #f8fafc;
  font-family: var(--heading);
}

.adds button {
  background-color: #f8fafc;
  padding: 1rem 1.25rem;
  color: #3b82f6;
  border-radius: 9999px;
  font-weight: 600;
  font-family: var(--heading);
  transition: background-color 500ms ease-in-out;
}

.adds button:hover {
  background-color: #e2e8f0;
}