<div class="projects_explore pt-24 pb-10">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mb-10 md:p-5 lg:p-2 xl:p-0">
      <div *ngFor="let category of categories" class="w-full h-[300px] md:h-[400px] lg:h-[500px] overflow-hidden explore_item relative cursor-pointer p-2 md:p-0">
        <a [routerLink]="category.link">
          <img class="w-full h-full brightness-50 duration-700" [src]="category.image" alt="{{category.title}}" loading="lazy" />
        </a>
        <div class="absolute top-28 md:top-36 lg:top-52 left-20 sm:left-52 md:left-14 lg:left-9 xl:left-20 h-52 overflow-hidden explore_item_text">
          <a [routerLink]="category.link">
            <p class="text-3xl text-slate-50 mb-5">{{ category.title }}</p>
            <p class="text-lg text-slate-50 text-center translate-y-44 origin-bottom-center duration-700">Explore</p>
          </a>
        </div>
      </div>
    </div>
    <div class="adds items-center justify-between w-2/6 h-20 p-3 bg-blue-500 ring-2 ring-offset-2 ring-blue-500 mx-auto rounded-full shadow-xl">
      <div class="px-4 flex items-center gap-3">
        <i class="ri-bookmark-3-fill text-3xl text-slate-50"></i>
        <span class="text-2xl font-semibold text-slate-50">Get In Touch</span>
      </div>
      <div>
        <button class="bg-slate-50 px-5 py-4 text-blue-500 rounded-full font-semibold hover:bg-slate-100 duration-500 ease-in-out">Booking Now</button>
      </div>
    </div>
  </div>
</div>