.project_card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project_card:hover {
  transform: translateY(-0.5rem);
  ring-width: 1px;
  ring-offset-width: 2px;
  ring-color: #3b82f6; /* Tailwind blue-500 */
  box-shadow: 0 10px 15px -3px rgba(59, 130, 246, 0.5);
}
.project_card_img img {
  object-fit: cover;
}
