<div class="vision_banner mb-14 !py-20 md:!py-28 xl:!py-[270px] md:px-2 lg:px-5 lg:!py-36">
  <div class="container mx-auto relative">
    <h1 class="text-4xl lg:text-6xl text-white font-semibold mb-8 text-center md:text-left">
      <span class="mb-5">A Vision For</span><br />
      <span class="md:ms-16">Luxury Living</span>
    </h1>
    <p class="lg:ms-40 text-slate-50 text-lg text-center md:text-left">
      Founded in 1999, Sanmar Properties has become a pioneer in
      residential, commercial and shopping mall development, as well as,
      land subdivision development. With its headquarters now located in
      Dhaka, Sanmar has grown rapidly in stature due to its pioneering,
      innovative and sustainable approach to real estate development.
    </p>
    <a
      routerLink="/About"
      class="py-11 lg:py-12 xl:py-16 px-4 lg:px-3 xl:px-6 font-semibold bg-blue-500 text-slate-50 text-md lg:text-xl xl:text-2xl rounded-full absolute -bottom-32 md:-bottom-40 lg:-bottom-48 xl:-bottom-[340px] left-8 lg:left-0 ring-offset-2 ring ring-blue-500 hover:bg-blue-600 duration-500 ease-in-out"
      >Read More</a
    >
  </div>
</div>
