footer a {
  transition: color .25s ease;
}

footer .form-wrapper input {
  background: #f3f4f6;
}

footer .rounded-full {
  font-size: 0.55rem;
}

footer .bg-indigo-700 {
  background-color: #4f46e5;
}

.backgroundColor{
  background: linear-gradient(135deg, rgba(46,139,87,0.85), rgba(46,139,87,0.6));
}
